@font-face {
  font-family: 'Viminalis';
  src: url('../assets/fonts/Viminalis.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Viminalis';
  src: url('../assets/fonts/Viminalis-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Winterfun';
  src: url('../assets/fonts/Winterfun.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}
