:root {
  /* Cores */
  --color-purple: #C1BAD9;
  --color-pink: #F2B3B3;
  --color-green: #ABD194;
  --color-yellow: #F2E088;
  --color-blue: #A2D9D9;

  /* Tipografia */
  --font-sans: "Viminalis", sans-serif;
  --font-cursive: "Winterfun", cursive;
}