.cartao-tema {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  width: 28%; 
}

.cartao-tema-imagem {
  border-radius: 50%;
  width: 25vw;
  height: auto;
  aspect-ratio: 1 / 1; 
  object-fit: cover;
}

.cartao-tema-titulo {
  color: black;
  font-family: var(--font-sans);
  font-size: 1.2rem; 
  font-weight: bold;
  margin-top: 10px;
}

.cartao-tema-botao {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.cartao-tema-botao a {
  padding: 8px 16px;
  background-color: var(--color-green);
  color: white;
  border-radius: 10px;
  font-family: var(--font-sans);
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .cartao-tema {
    width: calc((100% - 100px) / 6); 
  }

  .cartao-tema-imagem {
    width: 120px;
  }
}