.cartao-produto {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.cartao-produto-imagem {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    padding-bottom: 5px;
}

.cartao-produto-titulo, .cartao-produto-preco {
    font-size: 1em;
    font-family: var(--font-sans);
}

.cartao-produto-titulo {
    color: black;
}

.cartao-produto-preco {
    color: var(--color-pink);
    font-weight: bold;
}

@media (min-width: 768px) {
    .cartao-produto {
        max-width: 220px;
        width: 22%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }

    .cartao-produto-preco, .cartao-produto-titulo {
        font-size: 1.5em;
    }
}