.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 30px;

	padding: 25px 0px 15px 0px;

	position: relative;
	bottom: 0;

	color: white;
	background-color: var(--color-pink);
}

.footer a {
	text-decoration: none;
	color: white;
}

#marca {
	position: relative;
}

#footer-turtle {
	max-width: 50px;

	-webkit-transform: scale(-1, 1);
	-moz-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

#footer-nome {
	height: 30px;
}

#footer-content {
	display: flex;
}

#footer-content > p {
	font-size: 32px;
	font-family: var(--font-cursive);
}

#informacoes {
	display: flex;
	position: relative;
}

.info-loja {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	row-gap: 3px;
}

#informacoes a, h1 {
	font-family: var(--font-sans);
}

.info-loja a { 
	font-family: var(--font-sans);
	color: white;
	text-decoration: none;
	display: block; 
}

.info-loja a:hover { 
	text-decoration: underline;
}

#contato {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contato div a {
	margin-left: 3px;
	margin-right: 3px;
}

.copyright {
	font-family: var(--font-sans);
}

@media(orientation: landscape) {
	#footer-content {
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		column-gap: 60px;
	}

	#informacoes {
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		column-gap: 60px;
	}

	#footer-turtle {
		position: absolute;
		top: -50px;
		left: 10px;
	}
}

@media(orientation: portrait) {
	#footer-content {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		row-gap: 30px;
	}

	#informacoes {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		row-gap: 30px;
	}

	#footer-turtle {
		position: absolute;
		top: -50px;
		left: -60px;
	}
}
