@import "tailwindcss";

@theme {
  /* Cores */
  --color-lfapurple: #C1BAD9;
  --color-lfapink: #F2B3B3;
  --color-lfagreen: #ABD194;
  --color-lfayellow: #F2E088;
  --color-lfablue: #A2D9D9;

  /* Tipografia */
  --font-viminalis: "Viminalis", sans-serif;
  --font-winterfun: "Winterfun", cursive;
}

@font-face {
  font-family: 'Viminalis';
  src: url('/fonts/Viminalis.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Viminalis';
  src: url('/fonts/Viminalis-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Winterfun';
  src: url('/fonts/Winterfun.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

/* Efeito de opacidade nas miniaturas do Swiper */
.thumbs-carousel .swiper-slide {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.thumbs-carousel .swiper-slide-thumb-active {
  opacity: 1;
}

.thumbs-carousel .swiper-slide-thumb-active img {
  border: 2px solid var(--color-lfapink);
}

@layer utilities {
  .animate-bounce-once {
    animation: custom-bounce 1.2s ease-out 1 forwards;
  }

  @keyframes custom-bounce {
    0%, 100% { transform: translateY(0); }
    25% { transform: translateY(-10px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(-10px); }
  }
}